/.dev
/.idea
/.vscode
/*.iml

examples/compose/db/aria_log_control

examples/compose/db/aria_log.00000001

examples/compose/db/ib_buffer_pool

examples/compose/db/ib_logfile0

examples/compose/db/ib_logfile1

examples/compose/db/ibdata1

examples/compose/db/multi-master.info

examples/compose/librenms/logs/librenms.log
